<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd">
	
	
	<!-- load property file -->
	<context:property-placeholder location="classpath:Sports.properties"/>
	
	<bean id="myFortune" class="com.code.HappyFortuneService">
	</bean>

	<bean id="myCoach" class="com.code.TrackCoach">
		<constructor-arg ref="myFortune"></constructor-arg>
	</bean>
	
	<bean id="myCricketCoach" class="com.code.CricketCoach">
		<property name="lFortuneService" ref="myFortune"></property>
		<property name="emailAddress" value="tbd@tbd.com"></property>
		<property name="team" value="Chennai Superings"></property>
		<property name="country" value="${foo.country}"></property>
		<property name="coachName" value="${foo.coachName}"></property>
		
	</bean>

</beans>